/* Global styles for header */
html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Calque transparent */
    url("../images/MonPanierPaysanVintage.png") no-repeat center center fixed;
    background-size: cover; /* Ajuste l'image de fond */
}

.bo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #285146;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.bo-header-left {
    flex: 1;
}

.bo-logo {
    width: 9vw;
    height: auto;
    border-radius: 50%;
}

.bo-header-middle {
    flex: 2;
    text-align: center;
}

.bo-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bo-nav li {
    display: inline;
    margin: 0 15px;
}

.bo-nav a {
    text-decoration: none;
    color: #f9e9d3;
    font-weight: bold;
    font-size: 1.2rem;
}

.bo-header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.bo-role-badge {
    position: absolute;
    top: 10px;
    right: 15px;
}

.badge-admin, .badge-manager {
    color: #e5701d;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

/* Button styles */

.btn {
    background-color: #285146;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}
    .btn:hover {
        transform: scale(1.05);
    }

.btn-front-office {
    background-color: #e5701d;
}



.btn-logout {
    background-color: #ff6347;
}

    .btn-logout:hover {
        background-color: #ff4500;
    }

/* Main content area */
.bo-main {
    flex: 1;
    padding: 20px;
}

/* Footer */
.bo-footer {
    background-color: #f7f7f7;
    color: #1e1e1e;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
    height:8em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-link {
    color: #1e1e1e;
    text-decoration: none;
}

.footer-contact {
    font-size: 0.9rem;
}

.footer-logo img {
    width: 10rem;
    height: auto;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 0.8rem;
}

/* Dashboard section container */
.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.dashboard-block {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.dashboard-table, .category-table {
    width: 100%;
    border-collapse: separate; /* Utilise separate pour préserver les coins arrondis */
    border-spacing: 0; /* Évite l'espacement entre les cellules */
    margin-bottom: 20px;
    border-radius: 10px; /* Arrondit les coins du tableau */
    overflow: hidden; /* Empêche le contenu de déborder des coins arrondis */
    border: 1px solid #ddd; /* Bordure extérieure du tableau */
}

    .dashboard-table th, .category-table th,
    .dashboard-table td, .category-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .dashboard-table th, .category-table th {
        background-color: #3d7a62;
        font-weight: bold;
    }

 

    /* Arrondir seulement les coins du haut du tableau */
    .dashboard-table th:first-child {
        border-top-left-radius: 10px;
    }

    .dashboard-table th:last-child {
        border-top-right-radius: 10px;
    }

    /* Arrondir les coins du bas si nécessaire */
    .dashboard-table tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    .dashboard-table tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }



/* Button actions inside the tables */
.td-btn-actions {
    display: flex;
    justify-content: center;
    align-items: center; /* Aligner verticalement */
    gap: 10px; /* Espacement entre les boutons */
    margin: 0; /* Supprimer les marges supplémentaires */
    height: 100%;
}

/* Correction des boutons */
.btn-action {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background-color: #3d7a62;
    color: white;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    width: 6.5rem;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
}

    .btn-action:hover {
        transform: scale(1.05);
        background-color: #285146;
    }

form > div.user-actions > button,
td.td-btn-actions > form > button,
div.user-actions > form > button {
    background-color: #3d7a62;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    width: 8rem;
    margin: 5px;
}
    form > div.user-actions > button:hover,
    td.td-btn-actions > form > button:hover,
    div.user-actions > form > button:hover {
        transform: scale(1.05);
        background-color: #285146;
    }
div.user-actions > form > button.btn-update,
.btn-update {
    background-color: #f39c12;
}
    div.user-actions > form > button.btn-update:hover,
    .btn-update:hover {
        background-color: #e67e22;
    }
form > div.user-actions > button.btn-update,
td.td-btn-actions > form > button.btn-update {
    background-color: #f39c12;
}
    form > div.user-actions > button.btn-update:hover,
    td.td-btn-actions > form > button.btn-update:hover {
        background-color: #e67e22;
    }

    .btn-delete {
    background-color: #e74c3c;
    
}
    .btn-delete:hover {
        background-color: #c0392b;
    }

td.td-btn-actions > form > button.btn-delete,
div.user-actions > form > button.btn-delete {
    background-color: #e74c3c;
}

    td.td-btn-actions > form > button.btn-delete:hover,
    div.user-actions > form > button.btn-delete:hover
    {
        background-color: #c0392b;
    }

.btn-add {
    background-color: #28a745;
}

    .btn-add:hover {
        background-color: #218838;
    }

.btn-validate,
td.td-btn-actions > form > button.btn-validate,
form > div.user-actions > button.btn-validate
{
    background-color: #28a745; /* Vert pour valider */
}

    .btn-validate:hover,
    td.td-btn-actions > form > button.btn-validate:hover,
    form > div.user-actions > button.btn-validate:hover
    {
        background-color: #218838;
    }

.btn-reject {
    background-color: #e74c3c; /* Rouge pour rejeter */
}

    .btn-reject:hover {
        background-color: #c0392b;
    }

.btn-navigation {
    display: inline;
    background-color: #5874e0;
    margin-left: auto;
} 
/* For unpaid users */
.unpaid-user {
    color: red;
    font-weight: bold;
}

/* Navigation links (for sections) */
.section-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}
    .section-navigation a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3d7a62;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        margin: 10px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .section-navigation a:hover {
            background-color: #285146;
            transform: scale(1.05);
        }

/* Responsive design for the tables */
@media (max-width: 768px) {
    .dashboard-table th, .dashboard-table td {
        padding: 8px;
        font-size: 14px;
    }

    .btn-action {
        padding: 6px 10px;
        font-size: 12px;
    }

    .btn-add {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* Style global pour les formulaires */
.user-profile {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 800px; /* Limit form width */
    margin: 0 auto; /* Center form horizontally */
}

.user-info {
    margin-bottom: 15px;
}

    .user-info label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-radio-group {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.user-actions {
    text-align: center;
    margin-top: 20px;
}
div.user-actions > form > button


/* Style responsive pour les formulaires */
@media (max-width: 768px) {
    .user-info label {
        font-size: 0.9rem;
    }

    .form-control {
        padding: 8px;
        font-size: 0.9rem;
    }

    .user-actions .btn-save {
        font-size: 1rem;
        padding: 8px 15px;
    }
}

h2 > a {
    color: #285146;
    text-decoration: none;
}
div.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
 