/* Style général de la page */
.contact-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

    .contact-page h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

/* Conteneur pour le formulaire et l'adresse */
.contact-container {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

/* Formulaire de contact (à gauche) */
.contact-form-section {
    
    margin-right: 20px;
}

/* Informations de contact (à droite) */
.contact-info-section {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

/* Style du formulaire */
.contact-form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.form-control {
    height: 150px;
}

.btn-primary {
    background-color: #e5701d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Pour les petits écrans : layout en colonne */
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-form-section,
    .contact-info-section {
        margin: 0;
        margin-bottom: 20px;
    }
}
