.contact-page {

    margin: 10px; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .contact-page h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

.contact-form-group {
    margin-bottom: 15px;
}

    .contact-form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .contact-form-group .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .contact-form-group .text-danger {
        color: red;
    }

.contact-form-radio-group {
    margin-bottom: 15px;
}

.contact-form-group .contact-textarea-message {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #45a049;
    }

.adresse-contenu {
    margin-top: 40px;
    font-size: 1.1em;
    color: #333;
}

    .adresse-contenu p {
        margin-bottom: 10px;
    }

.social-icons img {
    width: 32px;
    margin-right: 10px;
}

form.contact-form {
    gap: 10px;
    max-width: 500px;
    margin: 10px auto;
}