/*******************************************************************/
/****************STYLES FOR FORMS PROPOSE PRODUCT*******************/
/*******************************************************************/
.container {
    margin: 3rem;
}

.styled-input-proposition {
    border: 0.1rem solid #d9d9d9;
    border-radius: 0.3rem;
    padding: 0.4rem;
    font-size: 1rem;
    text-align: center;
    width: 2.6rem;
}

.limit-date .styled-input-proposition {
    width: 8rem;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .form-container h2 {
        font-weight: bold;
        font-size: 2.2rem;
        color: #285146;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }


.txt-newproduct,
.text-cas-particulier {
    text-align: center;
    font-size: 1.5rem;
    color: #285146;
    margin-bottom:50px; 
}


/*******************************************************************/
/****************STYLES FOR FORMS **********************************/
/*******************************************************************/

.volunteer-question {
    margin-bottom: 20px;
}

.radio-button-group {
    display: inline-flex; 
    align-items: center;
}

.fieldset-style {
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}
