/*******************************************************************/
/****************STYLES FOR FORMS PROPOSE PRODUCT*******************/
/*******************************************************************/
.container {
    margin: 3rem;
}

.styled-input-proposition {
    border: 0.1rem solid #d9d9d9;
    border-radius: 0.3rem;
    padding: 0.4rem;
    font-size: 1rem;
    text-align: center;
    width: 2.6rem;
}

.limit-date .styled-input-proposition {
    width: 8rem;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .form-container * {
        margin: 0.3rem;
    }

    .form-container h2 {
        font-weight: bold;
        font-size: 2.2rem;
        color: #285146;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }


.txt-newproduct,
.text-cas-particulier {
    text-align: center;
    font-size: 1.5rem;
    color: #285146;
    margin-bottom:50px; 
}


/*******************************************************************/
/****************STYLES FOR FORMS *******************/
/*******************************************************************/

.volunteer-question {
    margin-bottom: 20px;
}

.radio-button-group {
    display: inline-flex; /* Use inline-flex to align items horizontally */
    align-items: center; /* Aligns the text vertically in the middle */
}

.fieldset-style {
    border: 1px solid #285146; /* Couleur de la bordure */
    border-radius: 30px; /* Bords arrondis */
    padding: 30px; /* Espacement intérieur */
    margin-bottom: 20px; /* Espace en bas du fieldset */
    width: 120%;
}
