/*******************************************************************/
/******************************SITE STYLES**************************/
/*******************************************************************/

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f9e9d3;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url('../images/bg04.png') no-repeat center center fixed;
}

body > *:not(footer) {
    flex-grow: 1;
}

/*******************************************************************/
/***************************STYLES FOR HEADER***********************/
/*******************************************************************/
header {
    font-family: 'Poppins', sans-serif;
    background-color: #285146;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1.6rem;
    min-height: 5rem;
    max-height: 5rem;
    flex-shrink: 0;
    flex-grow: 0;
}

#header-logo {
    width: 18rem;
}

/* Navigation elements */
nav {
    min-width: 30rem;
    max-width: 40%;
    justify-content: space-between;
    display: flex;
    padding: 0.2rem;
}

.nav-element {
    /*color: #1e1e1e;*/ /* Use the second style's color */
    /*    width: auto;
    height: auto;*/
    font-size: 1rem;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    margin: 0.8rem;
}

.nav-link {
    color: #f9e9d3;
    text-decoration: none;
    font-weight: normal;
}

.nav-element:hover {
    transform: scale(1.04);
    transition: transform 0.1s ease-in-out;
}

/* Buttons on the right */
.nav-right-btns {
    width: 26%;
    align-items: center;
    display: flex;
}

    .nav-right-btns img {
        width: 2.2rem;
        height: auto;
        object-fit: contain;
    }

.btn {
    border-radius: 16px;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    background-color: #285146;
}

    .btn:hover {
        transform: scale(1.05);
    }

.btn-connection {
    background-color: #a1cf59;
    white-space: nowrap;
    width: auto;
    padding: 0.4rem 1rem;
}

.btn-register {
    background-color: #e5701d;
}

.btn-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 6rem;
}

/*******************************************************************/
/***************************STYLES FOR FOOTER***********************/
/*******************************************************************/
footer {
    display: flex;
    flex-direction: column;
    background-color: #285146;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.6rem;
}

.footer p {
    margin: 0.4rem;
    color: #f9e9d3;
    text-align: center;
}

/*******************************************************************/
/***************************STYLES FOR FORMS***********************/
/*******************************************************************/
form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    max-width: 30rem;
    margin: 1rem;
    color: #285146;
    font-weight: 600;
}

    form em {
        font-size: 0.8rem;
    }

textarea::placeholder,
date::placeholder {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}

textarea, date, number {
    font-family: 'Poppins', sans-serif;
}

input::placeholder {
    font-style: italic;
}

textarea,
number,
date,
select,
file,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
}

input[type="submit"] {
    background-color: #a1cf59;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px;
    margin-bottom: 1.5rem;
}

    input[type="submit"]:hover {
        background-color: #285146;
    }

.error {
    color: red;
    font-size: 0.9rem;
}

input[type="text"], input[type="submit"], textarea, select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
