/*******************************************************************/
/***************************STYLES FOR CATALOG***********************/
/*******************************************************************/

.catalog-body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.catalog-col-container {
    display: flex;
    flex-direction: column;
}

.catalog-row-container {
    display: flex;
    flex-direction: row;
}

.welcome-text {
    margin-left: 1.5rem;
    font-weight: bold;
    color: #285146;
    font-size: 1.5rem;
}

/******Left side*******/
.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18rem;
    height: 26rem;
    justify-content: space-between;
    align-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

    .left-container * {
        margin-bottom: 0.8rem;
    }

    .left-container label {
        display: block;
        margin-bottom: 0.8rem;
    }

.btn-sort {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    border-radius: 16px;
    border: none;
    padding: 0.8rem;
    margin: .2rem .7rem .6rem .7rem;
}

.catalog-row-container .left-container .search-bar {
    background: #fff;
    padding: 0.8em;
    border-radius: 6em;
    width: 17rem;
    margin: 0.7rem;
}

/*Right side - catalog*/

.catalog-container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 300px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    height: 18rem;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #285146;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 2rem;
}

    .product-card:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }


.center-cropped-catalog {
    width: 14rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 2rem;
    margin: 1rem;
}

.catalog-product-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2rem;
}

.product-name {
    font-weight: bold;
    color: #285146;
    align-content: center;
    text-align: center;
    margin: 0.2rem;
}

.product-price {
    color: #285146;
    margin-top: 6px;
    text-align: center;
}

.btn-details {
    background-color: #285146;
    border-radius: 12px;
    color: white;
    margin: 8px;
    padding: 6px;
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 50px 5px 50px;
    border: none;
    text-decoration: none;
}


/*******************************************************************/
/************************STYLES FOR PRODUCT VIEW********************/
/*******************************************************************/
.product-detail-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60rem;
    height: 24rem;
    margin: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #285146;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.product-photo {
    width: 22rem;
    height: auto;
    align-content: center;
    margin: 2rem 1rem 2rem 2rem;
    border-radius: 2rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    margin: 16rem 3rem 16rem 2rem;
}

.product-detail-body .product-container .product-details .product-view-btn-add {
    background-color: #a1cf59;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1.2rem;
    width: 10rem;
    margin: 0 1rem;
}

.return-catalog {
    display: inline-block;
    color: #285146;
    font-size: 1.4rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.product-view-price,
.product-view-description,
.product-view-available {
    color: #285146;
    margin: 0.5rem;
}

.product-details h2 {
    color: #285146;
    margin: 0.5rem;
}

.product-view-price {
    font-size: 1.5rem;
    white-space: nowrap;
    text-align: center;
    margin-top: 1rem;
}

.add-row-product-view .quantity-txt-products {
    font-size: 1rem;
    color: #285146;
    align-content: center;
}

.add-row-product-view,
.bottom-product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom-product-details * {
    display: flex;
    flex-direction: row;
}

    .add-row-product-view * {
        margin: 0.5rem;
    }

a {
    text-decoration: none;
}

/*******************************************************************/
/**************************STYLES FOR LA FERME**********************/
/*******************************************************************/

.la-ferme-index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.la-ferme-links-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.la-ferme-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 25rem;
    height: 31rem;
}

.la-ferme-img {
    width: 16rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 5rem;
    align-content: center;
    transition: transform 0.3s ease;
}

.la-ferme-link:hover .la-ferme-img {
    transform: scale(1.05);
}

.la-ferme-link h2 {
    text-align: center;
    color: #285146;
}

.la-ferme-txt,
.txt-organization p {
    text-align: center;
    font-size: 1.15rem;
    color: #285146;
}

/*******************************************************************/
/**************STYLES FOR BASKETS AND ACTIVITIES PAGE***************/
/*******************************************************************/
.activity-body,
.baskets-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.baskets-container,
.activities-container {
    display: flex;
    justify-content: space-around;
}

.product-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 22rem;
    height: 36rem;
    margin: 2rem;
    box-shadow: 0px 2px 8px 2px #285146;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 3rem;
}

    .product-basket:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

.producer-photo {
    margin: 1rem;
    width: 14rem;
    height: auto;
    align-content: center;
    margin: 1rem;
    border-radius: 4rem;
}

.basket-photo {
    margin: 1rem;
    width: 14rem;
    height: auto;
    align-content: center;
    margin: 1rem;
    border-radius: 2rem;
}

.catalog-product-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2rem;
}

.activity-name,
.basket-name,
.producer-name {
    font-size: 1.2rem;
    width: 16rem;
    text-align: center;
    font-weight: 600;
    color: #285146;
    margin: 0.2rem;
}

.basket-description {
    text-align: center;
    color: #285146;
    padding: 1rem;
}

.basket-price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #285146;
    margin: 0rem;
}

.activities-body h2,
.baskets-body h2,
.producer-body h2,
.login-body h2,
.txt-organization h2 {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    color: #285146;
    margin-top: 2rem;
}

.txt-intro,
.producer-body p,
.login-body p {
    font-size: 1.3rem;
    text-align: center;
    color: #285146;
    max-width: 80rem;
    margin: 0 auto;
}

.add-row-basket * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem;
}

.baskets-body .baskets-container .product-basket .add-row-basket .baskets-btn-add {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #a1cf59;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
    width: 6rem;
    padding: 0.4rem;
    margin: 0;
}

    .styled-input {
        border: 0.1rem solid #a1cf59;
        border-radius: 2rem;
        padding: 0.4rem;
        background-color: white;
        font-size: 1rem;
        text-align: center;
        width: 2.4rem;
    }

    .styled-input:hover {
        background-color: #fafafa;
    }

.baskets-body .quantity-txt-baskets {
    font-size: 1rem;
    color: #285146;
}

.styled-input:focus {
    border-color: #285146;
    outline: none;
}

.ValidationMessage {
    color: #285146;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    align-content: center;
    /*    background-color: #a1cf59;*/
    border-radius: 1rem;
}

/*******************************************************************/
/*******************STYLES FOR ACTIVITIES PAGE**********************/
/*******************************************************************/
.activities-container {
    flex-wrap: wrap;
}

.product-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 38rem;
    height: 38rem;
    margin: 2rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #285146;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 3rem;
}

    .product-activity:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

.photo-name {
    display: flex;
    flex-direction: column;
}

.center-cropped {
    width: 38rem;
    height: 18rem;
    overflow: hidden; 
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.activity-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    transform: scale(1.6);
}

.activity-price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #285146;
    margin: 0.6rem;
}

.activity-description,
.producer-type {
    text-align: center;
    color: #285146;
    padding: 1rem;
}

.add-row-activity * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0.2rem;
}

.activities-container .activity-add-to-basket {
    font-size: 1rem;
    width: 10rem;
    padding: 0.55rem;
    border-radius: 1.2rem;
    margin: 0 1rem;
}