/********STYLES FOR HEADER********/
html {
    display: flex;
}

header {
    font-family: 'Poppins', sans-serif;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 32px;
}

#header-logo {
    width: 24%;
}

nav {
    width: 34%;
    justify-content: space-between;
    display: flex;
}

.nav-element {
    color: #1e1e1e;
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.nav-buttons {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.btn-connection {
    background-color: #285146;
    border-radius: 16px;
}

.btn-register {
    background-color: #a1cf59;
    border-radius: 16px;
}
.btn-logout {
    background-color: #ff0000;
    border-radius: 16px;
}

.btn-account {
    background-color: #a1cf59;
    border-radius: 16px;
}

.btn-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 18px 10px 18px;
}

/********STYLES FOR CATALOG********/

.catalog-body {
    display: flex;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the container takes full width */
}

.top-bar {
    display: flex;
    justify-content: space-between; /* Space between search bar and filters */
    width: 100%; /* Make sure it spans full width */
}

.row-container {
    display: flex;
    justify-content: space-between;
}
.filters {
    width: 30%;
    flex-shrink: 0; /* Prevent shrinking */
}

.catalog-container {
    /*    width: 70%;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;*/
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; /* Allow the container to take up remaining space */
    margin: 20px;
}

.product-card {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 28%;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #285146;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.catalog-photo {
    width: 200px;
    height: auto;
    align-content: center;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}
.product-name {
    font-weight: bold;
    color: #2e2e2e;
    align-content: center;
    text-align: center;
}

.product-price {
    color: #2e2e2e;
    margin-top: 6px;
    text-align:center;
}
.btn-add-to-basket {
    background-color: #285146;
    border-radius: 12px;
    color: white;
    margin:8px;
    padding: 6px;
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 50px 5px 50px;
    border: none;
}
.details {

}

/********STYLES FOR PRODUCT VIEW********/

.product-container {
    display: flex;
}

.product-photo {
    width: 400px;
    height: auto;
    align-content: center;
}

.product-details {
    display: flex;
    flex-direction: column;
}

/********STYLES FOR Account page********/
.user-profile {
    width: 60%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .user-info label {
        font-weight: bold;
        width: 10rem;
    }

    .user-info span {
        flex-grow: 1;
        padding: 5px;
        background-color: #eef6e1;
        border: 1px solid #c1d5a4;
        border-radius: 5px;
    }

.btn-edit, .btn-save, .btn-cancel {
    background-color: #80b347;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save, .btn-cancel {
    display: none;
}

.btn-edit:hover, .btn-save:hover, .btn-cancel:hover {
    background-color: #66a236;
}