/********STYLES FOR HEADER********/
html {
    display: flex;
}

header {
    font-family: 'Poppins', sans-serif;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 32px;
}

#header-logo {
    width: 24%;
}

nav {
    width: 34%;
    justify-content: space-between;
    display: flex;
}

.nav-element {
    color: #1e1e1e;
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.nav-buttons {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.btn-connection {
    background-color: #285146;
    border-radius: 16px;
}

.btn-register {
    background-color: #a1cf59;
    border-radius: 16px;
}
.btn-logout {
    background-color: #ff0000;
    border-radius: 16px;
}

.btn-account {
    background-color: #a1cf59;
    border-radius: 16px;
}

.btn-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 18px 10px 18px;
}

/********STYLES FOR CATALOG********/

.catalog-body {
    display: flex;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
}

.row-container {
    display: flex;
    justify-content: space-between;
}
.filters {
    width: 30%;
}

.catalog-container {
    width: 70%;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 25%;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #285146;
}
.catalog-photo {
    width: 200px;
    height: auto;
}
.product-name {
    font-weight: bold;
    color: #2e2e2e;
}
.product-price {
    font-weight: bold;
    color: #2e2e2e;
    margin-top: 6px;
}
.btn-add-to-basket {
    background-color: #285146;
    border-radius: 12px;
    color: white;
    margin:8px;
    padding: 6px;
}
.details {

}

/********STYLES FOR PRODUCT VIEW********/

.product-container {
    display: flex;
}

.product-photo {
    width: 400px;
    height: auto;
    align-content: center;
}

.product-details {
    display: flex;
    flex-direction: column;
}

/********STYLES FOR Account page********/
.user-profile {
    width: 60%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .user-info label {
        font-weight: bold;
        width: 10rem;
    }

    .user-info span {
        flex-grow: 1;
        padding: 5px;
        background-color: #eef6e1;
        border: 1px solid #c1d5a4;
        border-radius: 5px;
    }

.btn-edit, .btn-save, .btn-cancel {
    background-color: #80b347;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save, .btn-cancel {
    display: none;
}

.btn-edit:hover, .btn-save:hover, .btn-cancel:hover {
    background-color: #66a236;
}

/********STYLES FOR Accueil page********/
.stretched-custom {
   
}



/********STYLES FOR FOOTER********/
footer{
    display:flex;
    flex-direction:column;
}
.footer-top{

    display:flex; 
    flex-direction:row; 
    justify-content:space-around;
    
}
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.footer-links * {
    margin:0.3rem;
}
.footer-logo{
    width:25%;
    height:auto;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-contact * {
    margin:0.3rem;
}