@using AMAPG4.Models.User
@model AMAPG4.ViewModels.ProducerViewModel

@{
	ViewBag.Title = "Détails des producteurs";
	Layout = "_Layout";
}


<div class="producer-container">
	<img class="producer-photo" src="@Model.Producers.ImagePath" />

	<div class="producer-details">
		<h2>@Model.Account.Name</h2>
		<p>@Model.Producers.Description</p>
		
	</div>

</div>
<a href="@Url.Action("Index", "Producer")">Retour à la Liste des Producteurs</a>
