@{
    ViewBag.Title = "Acceuil";
    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <main>
    <div>
        <img class="stretched-custom" src="~/images/MonPanierPaysanVintage.png" style="width:800px;height:500px" />
    </div>

        <h2>Bienvenue à l'AMAP Mon Panier Paysan ! </h2>

    <p>Envie de produits frais, bio et de saison ? Envie d’aider les productrices et producteurs locaux à développer un mode de production respectueux de l’environnement, 
        tout en les rémunérant à un juste prix ? <br />
        Alors, venez découvrir l’AMAP Mon Panier Paysan,  la nouvelle AMAP près de chez vous !
    </p>
    </main>

