@{
    ViewBag.Title = "Acceuil";
    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <main>
        <h2>Bienvenue sur la page d'accueil</h2>
        <p>Voici le corps de la page avec du contenu à ajouter.</p>
    </main>