 @using Microsoft.AspNetCore.Authorization
@{
    ViewBag.Title = "Acceuil";
    Layout = "_layout";
}

    <main>   

    @if (User.IsInRole("Admin"))
    {
        <p>Bienvenue, Administrateur!</p>
    }
    @if (User.IsInRole("Manager"))
    {
        <p>Bienvenue, Manager!</p>
    }
    @if (User.IsInRole("Utilisateur"))
    {
        <p>Bienvenue, Utilisateur!</p>
    }
        
    <div>
        <img class="stretched-custom" src="~/images/MonPanierPaysanVintage.png" style="width:800px;height:500px" />
    </div>

        <h2>Bienvenue à l'AMAP Mon Panier Paysan ! </h2>

    <p>Envie de produits frais, bio et de saison ? Envie d’aider les productrices et producteurs locaux à développer un mode de production respectueux de l’environnement, 
        tout en les rémunérant à un juste prix ? <br />
        Alors, venez découvrir l’AMAP Mon Panier Paysan,  la nouvelle AMAP près de chez vous !
    </p>
    </main>

