 @using Microsoft.AspNetCore.Authorization
@{
    ViewBag.Title = "Acceuil";
    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <main>
   

    @if (User.IsInRole("Admin"))
    {
        <p>Bienvenue, Administrateur!</p>
    }
    @if (User.IsInRole("Manager"))
    {
        <p>Bienvenue, Manager!</p>
    }
    @if (User.IsInRole("Utilisateur"))
    {
        <p>Bienvenue, Utilisateur!</p>
    }

    </main>