@using System.Globalization

@model IEnumerable<AMAPG4.Models.Catalog.Product>
@{
    ViewBag.Title = "Catalogue de Produits";
    Layout = "_layout";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<div class="catalog-body">
    <div class="column-container">
        <div class="top-bar">
            <form method="get" action="@Url.Action("Index", "Catalog")">
                <div class="product-search">
                    <input type="text" name="searchString" placeholder="Rechercher un produit..." />
                    <button type="submit">Rechercher</button>
                </div>
            </form>
            <div class="order-by"></div>
        </div>

        <div class="row-container">
            <div class="filters"></div>

            <div class="catalog-container">
                @foreach (AMAPG4.Models.Catalog.Product product in Model)
                {
                    <div class="product-card">
                        <img class="catalog-photo" src="~/images/ProductImages/cheese.png">
                        <div class="product-name">@product.ProductName</div>
                        <div class="product-price">@product.Price.ToString("C", new CultureInfo("fr-FR"))</div>
                        <button class="btn-add-to-basket">Ajouter au Panier</button>
                        <div class="details">
                            <a href="@Url.Action("ProductView", "Catalog", new { id = product.Id })">Détails</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
