
@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/css/global.css">
</head>

<h2>Bienvenue sur la page de l'Association ! </h2>