@{
    ViewBag.Title = "L'Association";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/global.css" />

<div class="body-organization">

    <h2 class="name-text">Mon Panier Paysan</h2>
    <div class="intro-section">
        <img src="~/images/AboutImages/group01.jpg" alt="Mon Panier Paysan" class="intro-section-image" />
        <p class="intro-text">En 2024, notre association, <strong>Mon Panier Paysan</strong>, voit le jour ! Nous sommes ravis de lancer cette initiative qui vise à renforcer le lien entre producteurs locaux et consommateurs engagés autour de Chambéry.</p>
    </div>

    <div class="objectives-section">
        <div class="objectives-text">
            <h2>Les objectifs de l'AMAP Mon Panier Paysan</h2>
            <p>L'objectif principal de notre association est de soutenir et de promouvoir une agriculture paysanne durable en établissant un circuit alimentaire de proximité, axé majoritairement sur des pratiques biologiques. Cela passe par la création d’un lien direct entre :</p>

            <h2>Les producteurs locaux</h2>
            <p>Ils s'engagent à fournir régulièrement des produits agricoles de qualité, idéalement issus de l'agriculture biologique. Ils sont présents lors des distributions et partagent en toute transparence leurs méthodes de production.</p>

            <h2>Les consommateurs</h2>
            <p>Ils acceptent d’acheter ces produits à un prix équitable. En payant à l’avance et en participant activement aux distributions, ils contribuent à la pérennité des exploitations locales.</p>
        </div>
        <img src="~/images/AboutImages/baskets02.jpg" alt="Consommateurs" class="objectives-section-image" />
    </div>

    <div class="pilars-section">
        <img src="~/images/AboutImages/four_icons.png" alt="Consommateurs" class="icons-image" />
        <div class="pilars-text">
            <h2>Les quatre grands principes de l'AMAP</h2>
            <ul>
                <li><strong>Soutenir l’agriculture paysanne</strong> : Promouvoir une agriculture de proximité qui soit socialement équitable et écologiquement responsable.</li>
                <li><strong>Promouvoir une alimentation saine</strong> : Offrir des produits de qualité, de saison et respectueux de l’environnement.</li>
                <li><strong>Établir un lien équilibré</strong> : Créer une relation de partenariat entre producteurs et consommateurs, également appelés « consomm’acteurs ».</li>
                <li><strong>Encourager la participation</strong> : Développer des relations privilégiées entre consommateurs et producteurs.</li>
            </ul>
        </div>
    </div>

    <div class="amapien-section">


        <div class="engagements">
            <h2>Vos Engagements en tant qu'Amapien</h2>
            <ul>
                <li>Payer une cotisation annuelle de <strong>15€</strong>.</li>
                <li>Prendre un panier de légumes chaque semaine pendant un minimum de <strong>3 mois</strong>.</li>
            </ul>
            <p>Ces engagements garantissent la viabilité de notre projet collectif et permettent aux producteurs de planifier leur production en toute sérénité.</p>
        </div>
        <img src="~/images/AboutImages/Engagement.jpg" alt="Consommateurs" class="amapien-section-image" />
    </div>

    <div class="distribution-section">
        <img src="~/images/AboutImages/Distribution3.jpg" alt="Consommateurs" class="icons-image" />
        <div class="distribution">
            <h2>La distribution des Produits</h2>
            <p>A lieu <strong>tout au long de l’année</strong>, les vendredis de 18h15 à 19h30.</p>
            <p><strong>À la Maison des Associations</strong>, située au 73000 Chambéry.</p>
            <p><strong>Avec la participation de deux bénévoles</strong> qui s'assurent que tout se déroule dans la convivialité et l'efficacité.</p>
        </div>
    </div>
    <div class="join-section">
        <div class="join-us">
        <h2>Rejoignez-nous !</h2>
        <p>Si vous souhaitez donner un sens à votre alimentation tout en soutenant des fermes de proximité respectueuses de notre environnement et de notre santé, n’hésitez pas à nous rejoindre ! Ensemble, faisons le choix d'une consommation responsable et d'un avenir durable.</p>
        </div>
    <img src="~/images/home_image.png" alt="Consommateurs" class="amapien-section-image" />

    </div>
</div>
