
@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}
<head>
   
    <link rel="stylesheet" href="~/css/styles.css" />

</head>

<div class="txt-organization">
<h2>L'Association</h2>
<p>En 2024, notre association, <strong>Mon Panier Paysan</strong>, voit le jour ! Nous sommes ravis de lancer cette initiative qui vise à renforcer le lien entre producteurs locaux et consommateurs engagés autour de Chambéry.</p>

<h2>Les objectifs de l'AMAP Mon Panier Paysan</h2>
<p>L'objectif principal de notre association est de soutenir et de promouvoir une agriculture paysanne durable en établissant un circuit alimentaire de proximité, axé majoritairement sur des pratiques biologiques. Cela passe par la création d’un lien direct entre :</p>



    <p><strong>Les producteurs locaux</strong>, qui s'engagent à fournir régulièrement des produits agricoles de qualité, idéalement issus de l'agriculture biologique. Ils sont présents lors des distributions et partagent en toute transparence leurs méthodes de production.</p>
    <p><strong>Les consommateurs</strong>, qui acceptent d’acheter ces produits à un prix équitable. En payant à l’avance et en participant activement aux distributions, ils contribuent à la pérennité des exploitations locales.</p>

   

<h2>Les quatre grands principes de l'AMAP</h2>

    <p><strong>Soutenir l’agriculture paysanne</strong> : Promouvoir une agriculture de proximité qui soit socialement équitable et écologiquement responsable.</p>
    <p><strong>Promouvoir une alimentation saine</strong> : Offrir des produits de qualité, de saison et respectueux de l’environnement.</p>
    <p><strong>Établir un lien équilibré</strong> : Créer une relation de partenariat entre producteurs et consommateurs, également appelés « consomm’acteurs », en favorisant une distribution désintéressée des produits.</p>
    <p><strong>Encourager la participation</strong> : Développer des relations privilégiées entre consommateurs et producteurs en organisant des activités sur les fermes des agriculteurs membres, afin de renforcer les liens communautaires.</p>


<h2>Vos Engagements en tant qu'Amapien</h2>
<div class="engagements">
    <p>En tant qu'Amapien·ne, votre engagement consiste à :</p>
    
        <p>Payer une cotisation annuelle de <strong>15€</strong>.</p>
        <p>Prendre un panier de légumes chaque semaine pendant un minimum de <strong>3 mois</strong> (L’acquisition d’autres produits est optionnelle)</p>
   
    <p>Ces engagements garantissent la viabilité de notre projet collectif et permettent aux producteurs de planifier leur production en toute sérénité.</p>
</div>

<h2>La distribution des Produits</h2>
<div class="distribution">
    <p>La distribution des produits se fait :</p>
    
        <p><strong>Tout au long de l’année</strong>, les jeudis de 18h30 à 19h45.</p>
        <p><strong>À la Maison des Associations</strong>, située au 73000 Chambéry.</p>
        <p><strong>Avec la participation de deux bénévoles</strong> qui s'assurent que tout se déroule dans la convivialité et l'efficacité.</p>
   
</div>

<h2>Rejoignez-nous !</h2>
<p>Si vous souhaitez donner un sens à votre alimentation tout en soutenant des fermes de proximité respectueuses de notre environnement et de notre santé, n’hésitez pas à nous rejoindre ! Ensemble, faisons le choix d'une consommation responsable et d'un avenir durable.</p>
</div>