@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command

@model AMAPG4.ViewModels.OrderLineViewModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Panier</title>
</head>
<h3>
    Id utilisateur login :
    @Model.UserActualId
</h3>


@if (Model.OrderLinesCurrent != null)
{
    <div> Votre panier contient : </div>
    @foreach (OrderLine orderLine in Model.OrderLinesCurrent)
    {
        <p>@orderLine.Product.ProductName @orderLine.Quantity @orderLine.Total </p>
    }

}
else 
{

    <div>
        Le panier est Vide !
    </div>
    


}